apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
- ../../../application/frontend  

#namespace: fbca9a-dev

generatorOptions:
  disableNameSuffixHash: true
  #namespace: example
  #behavior: replace



  #namespace: example
  #behavior: replace


images:
- name: image-registry.apps.silver.devops.gov.bc.ca/5b7aa5-tools/pims-app
  newName: image-registry.apps.silver.devops.gov.bc.ca/5b7aa5-tools/pims-app
  newTag: IMAGE_TAG #CI build_number

